absl-py==1.4.0
accelerate==0.15.0
aiohttp==3.8.4
aiosignal==1.3.1
albumentations==1.3.0
altair==4.2.2
astunparse==1.6.3
async-timeout==4.0.2
attrs==23.1.0
bitsandbytes==0.35.0
cachetools==5.3.1
certifi==2023.5.7
charset-normalizer==3.1.0
colorama==0.4.6
diffusers==0.10.2
easygui==0.98.3
einops==0.6.0
entrypoints==0.4
fairscale==0.4.13
filelock==3.12.2
flatbuffers==23.5.26
frozenlist==1.3.3
fsspec==2023.6.0
ftfy==6.1.1
gast==0.4.0
google-auth==2.20.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.54.2
h5py==3.8.0
huggingface-hub==0.13.3
idna==3.4
imageio==2.31.1
importlib-metadata==6.6.0
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
keras==2.10.0
Keras-Preprocessing==1.1.2
lazy_loader==0.2
libclang==16.0.0
library @ file:///E:/AI/sd-scripts
lightning-utilities==0.8.0
Markdown==3.4.3
MarkupSafe==2.1.3
multidict==6.0.4
networkx==3.1
numpy==1.24.3
oauthlib==3.2.2
opencv-python==4.7.0.68
opencv-python-headless==4.7.0.72
opt-einsum==3.3.0
packaging==23.1
pandas==2.0.2
Pillow==9.5.0
protobuf==3.19.6
psutil==5.9.5
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyrsistent==0.19.3
python-dateutil==2.8.2
pytorch-lightning==1.9.0
pytz==2023.3
PyWavelets==1.4.1
PyYAML==6.0
qudida==0.0.4
regex==2023.6.3
requests==2.28.2
requests-oauthlib==1.3.1
rsa==4.9
safetensors==0.2.6
scikit-image==0.21.0
scikit-learn==1.2.2
scipy==1.10.1
six==1.16.0
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.1
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
threadpoolctl==3.1.0
tifffile==2023.4.12
timm==0.6.12
tokenizers==0.13.3
toml==0.10.2
toolz==0.12.0
torch==1.12.1+cu116
torchmetrics==0.11.4
torchvision==0.13.1+cu116
tqdm==4.65.0
transformers==4.26.0
typing_extensions==4.6.3
tzdata==2023.3
urllib3==1.26.16
voluptuous==0.13.1
wcwidth==0.2.6
Werkzeug==2.3.6
wrapt==1.15.0
yarl==1.9.2
zipp==3.15.0
